body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./8493.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h2 {
  color: rgb(255, 166, 0);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.089));
  font-size: 60px;
}
ul {
  list-style: none;
}
li {
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
}
.delete-btn {
  margin: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
  height: 25px;
}
.edit-btn {
  margin: 5px;
  background-color: green;
  width: 50px;
  color: white;
  border-radius: 5px;
  border: none;
  height: 25px;
}
.glass-effect {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.301));
  background-color: rgb(152 151 151 / 25%);
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
}
.title-div {
  color: #1b8109;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}

.parent-div {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 50px;
  width: 800px;

  font-size: large;
  border: 2px solid rgb(19, 59, 23);
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
}
.submit-div {
  display: flex;
  justify-content: center;
}
.form-child-div {
  margin: 10px;
  font-weight: bold;
}
.submit {
  width: 70px;
  height: 30px;
  font-size: 17px;
  background-color: orange;
  border-radius: 8px;
  border: none;
}
.hover-class:hover {
  cursor: pointer;
}
